<div class="row mb-2">
    <div class="col-md-8">
        <div class="blog-title col-md-5">
            <h4>
                <span>{{blog.title}}</span>
                <span>-Posted by
                    {{blog.user.userName}}
                    on
                    {{format_date blog.date_created}}
                </span>
            </h4>
        </div>
        <div class="col-md-7">
            <p>
                {{blog.content}}
            </p>
        </div>
    </div>
    <button id="comment">Comment</button>
</div>