<div class="row">
    <div class="col-auto">
        <h2>Welcome</h2>
        <h3>Your Dashboard</h3>
    </div>
</div>

{{#if blogs.length}}
    <div class="col-md-6 project-list">

        {{#each blogs as |blog|}}
            <div class="row mb-2">
                <div class="col-md-8">
                    <h2><a href="/blog/{{blog.id}}">{{blog.title}}
                            on
                            {{blog.date_created}}</a></h2>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}

<div>
    <a href="/newBlog">
        <button id="new-blog">
            Enter New Blog
        </button>
    </a>
</div>