html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1em;
    background-color: cadetblue;
}
.login {
    margin: 2em;
    font-weight: bolder;
}
main {
    display: block;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: red;
}
a {
    text-decoration: none;
    color: black;
}
hr {
    margin: 0;
}
.blog {
    border: 1px solid black;
    margin: 2px;
    text-align: center;
}
.blog-title {
    color: #337dff;
}
